/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: verdana;
  font-size: 18px;
  padding: 15px 45px;
  width: 800px;
}

body.home {
  background-image: url('images/clballoonhead.png');
}

body.navpages {
  background-image: url('images/colorfade.png')
}

.primary-header {
  height: 30px
  width: 700px;
  background: #03F;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 9px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

h1 {
  margin: 0 0 0px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}


h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

h2.gutters {
  padding: 0 0 20px 0;
}

aside.col-1 img.avatar {
  width: 90px;
}

h5 {
  padding: 10px 0 0 0;
  font-size: 12px;
}

time {
  font-size: 10px;
}

nav {
  float: right;
}

nav ul li {
  display: inline;
  padding-left: 5px;
}

section.divider {
  float: left;
  margin-left: 75px;
  font-size: 18px;
}

.gutters {
  margin-left: 10px;
}

aside.col-1 {
  float: left;
  margin-left: 20px;
  line-height: 10px;
}

footer {
   float: left;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   font-size: 12px;
   text-align: center;
}

div.calendar ul {
  width: 295px;
  font-family: helvetica;
  border-radius: 9px;
}

div.calendar ul li {
  display: inline-block;
  width: 30px;
  margin: 0;
  padding: 3px 5px;
  text-align: center;
  background-color: #fff;
  list-style: none;
}

div.calendar ul.calendar li {
  line-height: 2.1;
  border: 1px solid #ccc;
  color: #555;
  font-size: 14px;
}

div.calendar ul.calendar li.month {
  width: 282px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #38d;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-shadow: 0px 1.25px #36b;
  border: 1px solid #38d;
  border-bottom: 2px solid #36b;
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #3A9BFC 50%, #3388DD 100%);
}

div.calendar ul.calendar li.day_name {
  font-weight: bold;
  background-color: #eee;
  color: #888;
  border: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
}

div.calendar ul.calendar li.previous_month_days {
  color: #ccc;
}

div.calendar ul.calendar li.cursor_date {
  color: #38D;
  font-weight: bold;
}

div.calendar ul.calendar li.today {
  color: white;
  font-weight: bold;
  text-shadow: 0px 1.25px #36b;
  background: #38d;
  border-top: 1px solid #36b;
  border-bottom: 1px solid #36b;
  border-left: 1px solid #36b;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #56A9FC 0%, #3388DD 100%);
}

div.calendar ul.calendar li.bottom_left_corner {
  border-bottom-left-radius: 8px;
}

div.calendar ul.calendar li.bottom_right_corner {
  border-bottom-right-radius: 8px;
}



